---
layout: default
---

<div class="container">
    {% include yugen.html %}

    <ul class="index-nav">
    {% for nav in site.nav %}
        <li><a href="{{ nav.url }}">{{ nav.text }}</a></li>
    {% endfor %}
    </ul>

	<!-- main -->
	<div class="main">
        <div class="head-box">
            <a href="{{ site.author.link }}" title="about me"><img src="img/head.jpg" /></a>
        </div>
        <h1>{{ site.author.name }}</h1>
        <p id="motto">{{ site.author.motto }}</p>
        <hr>
        {% for intro in site.introduce %}
        <p>{{ intro.content }}</p>
        {% endfor %}

        <ul class="contact-nav">
            {% for link in site.follow %}
            <li><a href="{{ link.url }}" target="_blank" title="{{ link.text }}"><i class="fa {{ link.class }}"></i></a></li>
            {% endfor %}
        </ul>
    </div>
</div>